.container {
  display: flex;
  justify-content: center;
}
.headfoto{
  background-size: cover;
  background-repeat: no-repeat ;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  
}
.App {
  background-color: rgba(255,255,255, 0.5);
}
.search {
  width: 100%;
  padding: 12px 24px;
  background-color: #f0f0e8;
  color: #5f5f5c;
  border-radius: 10px;
  box-shadow: insert 0px 0px 0px 4px #ddd6e8;
}
.btn {
  margin-left: 80px;
}
h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
  color: #005C78;
  text-transform: uppercase;
}
.foodfoto {
  border: solid 3px #005C78;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 4px #575756;
}
.type {
  display: flex;
  justify-content: space-evenly;
}
li {
  font-family: "Montserrat", sans-serif;
  list-style-type: none;
  padding: 2px;
  margin: 4px;
  color: #164B60;
  font-size: 20px;
}